body {
  margin: 0px;
  background-color: #111;
  overflow: hidden;
  box-sizing: border-box;
  font-family: monospace;
  color: #f8f8f8;
}

input {
  width: calc(100% - 10px);
  margin: 5px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  font-size: 14px;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  background-color: #2e3740;
  text-align: center;
  padding: 10px;
  min-width: 50px;
  cursor: pointer;
}
.button:hover {
  background-color: #111;
}
.button:active {
  background-color: #2e3740;
}

.button-disabled {
  color: #cfc6b8 !important;
  border: 1px solid #cfc6b8 !important;
  background-color: #5a5353 !important;
  pointer-events: none !important;
}

.button-primary {
  color: #3fc778;
  border: 1px solid #3fc778;
  background-color: #2e3740;
}

.button-secondary {
  color: #92f4ff;
  border: 1px solid #92f4ff;
  background-color: #2e3740;
}

.button-cancel {
  color: #e1534a;
  border: 1px solid #e1534a;
  background-color: #2e3740;
}

.button-cadence {
  color: #3fc778;
  float: right;
}

.button-cadence-control {
  margin: 1rem;
  min-width: 10rem;
}

.label {
  font-size: 16px;
  color: #3fc778;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
}

.middle-container {
  width: calc(100% - 256px - 256px);
  height: calc(100% - 4px);
  border-top: 2px solid #3fc778;
  border-bottom: 2px solid #3fc778;
}

.column {
  width: 500px;
  background-color: #111;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #f8f8f8;
  height: calc(100% - 73px);
}
.column-right {
  width: 200px;
  background-color: #111;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #f8f8f8;
}

.column-title {
  font-size: 24px;
  font-weight: bold;
  color: #3fc778;
  text-align: center;
  background-color: #111;
  border: 1px solid #f8f8f8;
  padding: 5px;
}

.column-item {
  font-size: 12px;
  color: #3fc778;
  border: 1px solid #111;
  text-align: left;
  background-color: #2e3740;
  cursor: pointer;
  padding: 5px;
}
.column-item:hover {
  border: 1px solid #f8f8f8;
}
.column-item-folder {
  color: #92f4ff;
  margin: 5px;
}
.column-item-folder-complete {
  color: #3fc778;
  margin: 5px;
}
.column-item-uninitialized {
  color: #e1534a;
}
.column-item-selected {
  background-color: #50576b;
}
.column-item-centered {
  display: flex;
  justify-content: center;
}

.audio-player-controls {
  margin: 4px;
  display: flex;
  justify-content: center;
}

.audio-player-button {
  font-size: 24px;
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
  background-color: #2e3740;
  text-align: center;
  padding: 10px;
  min-width: 50px;
  cursor: pointer;
}
.audio-player-button:hover {
  background-color: #111;
}
.audio-player-button:active {
  background-color: #2e3740;
}
.audio-player-button-toggled {
  background-color: #2e3740;
}

.audio-player-timeline {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  height: 100px;
  width: calc(100% - 16px);
  left: 8px;
  position: relative;
}
.audio-player-time {
  font-size: 12px;
  color: #3fc778;
  padding: 5px;
}
.timeline-cursor {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background-color: #e1534a;
}
.timeline-cadence-cursor {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #f8f8f8;
}

.animation-area {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  height: 100%;
}
.centeredxy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animation-area-zoom-container {
  display: flex;
  justify-content: center;
}

.zoom-button {
  margin: 5px;
}

.cadence-maker {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  color: #3fc778;
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes flash {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.cadence-flash {
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0);
  animation-name: flash;
  animation-duration: 0.5s;
}
